*                      @org-sheikah/sm-p01-juan @org-sheikah/codeowners(cw)
/src/                  @org-sheikah/sm-p01-juan @org-sheikah/codeowners(cw)
/docs/                 @org-sheikah/sm-p01-juan @org-sheikah/codeowners(cw)
/.github/              @org-sheikah/codeowners(cw)
/docs/rubrica-evaluacion.md   @org-sheikah/codeowners(cw)