*                      @org-sheikah/sm-p01-juan @org-sheikah/sm-p01-juan
/src/                  @org-sheikah/sm-p01-juan @org-sheikah/sm-p01-juan
/docs/                 @org-sheikah/sm-p01-juan @org-sheikah/sm-p01-juan
/.github/              @org-sheikah/sm-p01-juan
/docs/rubrica-evaluacion.md   @org-sheikah/sm-p01-juan